<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid">
    <a class="navbar-brand px-5 py-3" href="#">
      <img src="https://www.noas.com.br/jogos/jogo-da-memoria/img/titulo.png" alt="" width="110px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>

<div class="container text-center">
  <div class="row">
    <h2>Jogo da Memória</h2>
    <h3>Clique na carta para vira-la.</h3>
    <h3>Você pode virar somente duas cartas de cada vez.</h3>
    <h3>Se você encontrar o par, as duas cartas vão desaparecer!</h3>

    
    <div class="d-flex justify-content-between flex-wrap cartas">
      <app-carta *ngFor="let carta of cartas; let idx=index" [carta]="carta" (cartaClicada)="cartaClicada(idx)">
      </app-carta>
    </div>
  </div>
</div>
